{
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "env": {
        "node": true,
        "jest": true,
        "es6": true
    },
    "rules": {
        "no-constant-condition": "off",
        "strict": ["error", "never"] /* don't need strict as we have babel */
    }
}