{
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {}
}